<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= link_to 'New post', new_post_path, class: 'new-link btn btn-primary' %>
      <% if @posts.any? %>
        <div class="posts">
          <% @posts.each do |post| %>
            <%= render 'posts/post', post: post %>
          <% end %>
        </div>
      <% else %>
        <p>no posts yet</p>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    App.cable.subscriptions.create(
      {
        channel: "IndexChannel"
      },
      {
        connected: function(data) {
          console.log("connected to index channel");
        },
        received: function(data) {
          $(".posts").prepend(data["post"]);
          $(".post").first().hide().slideDown();
        }
      }
    )
  </script>
<% end %>
